services:
  cups:
    image: hanxi/cups:latest
    ports:
      - "631:631"
    devices:
      - /dev/bus/usb:/dev/bus/usb
    volumes:
      - ./etc:/etc/cups
    restart: unless-stopped

  web:
    image: hanxi/cups-web:latest
    environment:
      - AUTH_USER=${AUTH_USER}
      - AUTH_PASS=${AUTH_PASS}
      - SESSION_HASH_KEY=${SESSION_HASH_KEY}
      - SESSION_BLOCK_KEY=${SESSION_BLOCK_KEY}
      - SESSION_SECURE=${SESSION_SECURE}
    ports:
      - "8080:8080"
    depends_on:
      - cups
    restart: unless-stopped
