services:
  cups:
    image: hanxi/cups:latest
    environment:
      - CUPSADMIN=${CUPSADMIN} # CUPS 管理员用户名
      - CUPSPASSWORD=${CUPSPASSWORD} # CUPS 管理员密码
    ports:
      - "631:631"
    devices:
      - /dev/bus/usb:/dev/bus/usb
    volumes:
      - ./.etc:/etc/cups
    restart: unless-stopped

  web:
    image: hanxi/cups-web:latest
    environment:
      - SESSION_HASH_KEY=${SESSION_HASH_KEY} # session 加密 hash key
      - SESSION_BLOCK_KEY=${SESSION_BLOCK_KEY} # session 加密 block key
      - SESSION_SECURE=${SESSION_SECURE} # 如果使用 https，设置为 true
      - CUPS_HOST=cups:631 # CUPS 服务地址
    volumes:
      - ./.data:/data # 默认路径是 DB_PATH=/data/cups-web.db
      - ./.uploads:/uploads # 默认路径是 UPLOAD_DIR=/uploads
    ports:
      - "1180:8080"
    depends_on:
      - cups
    restart: unless-stopped
